@model ProjetOfficiel.Models.TerrainFoot

@{
    ViewData["Title"] = "addTerrain";
}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .team-background {
        background-image: url('https://th.bing.com/th/id/OIP.dZD5L-hj9K3ylkXnCTxbUAHaE5?rs=1&pid=ImgDetMain'); /* Replace with your image URL */
        background-size: cover; /* Cover the entire page */
        height: 100%;
    }

        .team-background,
        .team-background h1,
        .team-background h4,
        .team-background p,
        .team-background a { /* This will target all h1, h4, p tags and links within the .team-background class */
            color: #ffffff; /* This is the color white */
        }

    /* If you want all text in the body to be white, not just within .team-background */
    body {
        color: #ffffff;
    }

</style>

<body class="team-background">

<h1>addTerrain</h1>

<h4>TerrainFoot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AjouterTerrain" method="POST" asp-controller="Home">
            ">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Disponible" /> @Html.DisplayNameFor(model => model.Disponible)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</body>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
